.service-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
}
.type-of-service {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.service-price-container {
  display: flex;
  align-items: center;
  width: 80%;
}
.service-price {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.discount-options {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
.discount-options > ul {
  margin-top: 0;
  padding: 0;
}
.discount-options > ul > li {
  list-style: none;
}
.right-side-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  justify-content: space-evenly;
  padding: 30px;
}
.selected-services {
  display: flex;
}
.total-amount-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.controls {
  display: flex;
  justify-content: flex-end;
}
