.discount-options {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 10px;
  color: #737373;
}
.discount-options > h5 {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #737373;
}
.discount-options > ul {
  margin-top: 0;
  padding: 0;
}
.discount-options > ul > li {
  list-style: none;
}
