.service-card-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 100%;
  margin-top: 156px;
}
.type-of-service-container {
  display: flex;
  flex-direction: column;
  margin-top: 53px;
  width: 100%;
}
.type-of-service-container > label {
  display: flex;
  width: 80%;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #737373;
}
