.login-container {
  display: flex;
  justify-content: space-between;
  min-height: 100%;
}
.login-left {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.alpha-logo {
  display: flex;
  width: 7.5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.login-right {
  display: flex;
  width: 65%;
}
.login-motorcycle_1 {
  position: relative;
  width: 810px;
  bottom: 35px;
  left: 85px;
}
.login-alpha-service {
  position: relative;
  width: 240px;
  height: 94px;
  right: 145px;
  top: 550px;
}
