.login-container {
  display: flex;
  min-height: 100%;
  min-width: 1320px;
  justify-content: center;
}
.login-left {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-left: 50px;
  width: 465px;
}
.login-main-container {
  display: flex;
  flex-direction: column;
}
.welcome-message {
  display: flex;
  flex-direction: column;
}
.welcome-message > h3 {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #737373;
}
.welcome-message > h1 {
  margin-top: 10px;
  margin-bottom: 70px;
  font-weight: 600;
  font-size: 30px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #22160f;
}
.label-container {
  display: flex;
}
.label-container > label {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #737373;
}
.input-container {
  display: flex;
  width: 456px;
}
.input-container > input {
  display: flex;
  width: 80%;
  height: 45px;
  box-sizing: border-box;
  padding: 8px 15px;
  margin-bottom: 18px;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  background: #e5e5e5;
  font-family: "poppins";
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #22160f;
}
.button-container {
  display: flex;
}
.button-container > button {
  display: flex;
  width: 80%;
  height: 45px;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background: #836048;
  border-radius: 12px;
  font-family: "poppins";
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.alpha-logo {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.alpha-logo > img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
.alpha-logo > h1 {
  margin: 0;
  font-size: 35px;
}
.login-right {
  width: 800px;
  max-width: 1320px;
}
.motorcycle_1-container {
  display: flex;
  flex-direction: column;
}
.login-motorcycle_1 {
  max-width: 775px;
  display: flex;
}
.login_alpha_service-container {
  position: sticky;
  bottom: 86px;
  display: flex;
  justify-content: flex-end;
  width: 96%;
}
.login_alpha_service {
  width: 190px;
  height: 80px;
}

/* */
@media screen and (max-width: 992px) {
  .login-left {
    width: 700px;
    padding-left: 0;
    padding-top: 90px;
  }
  .login-container {
    min-width: 0;
  }
  .login-right {
    display: none;
  }
  .login-main-container > h1 {
    margin-bottom: 75px;
  }
  .label-container {
    width: 165px;
    justify-content: end;
  }
  .input-container,
  .button-container {
    width: 700px;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .login-left {
    width: 400px;
  }
  .label-container {
    width: 160px;
    justify-content: flex-start;
  }
  .input-container,
  .button-container {
    width: 500px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .label-container {
    width: 134px;
  }
  .input-container,
  .button-container {
    width: 100%;
    justify-content: center;
  }
  .input-container > input,
  .button-container > button {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
}
