.new-order-container {
  display: flex;
  justify-content: center;
  min-height: 100%;
  box-sizing: border-box;
  padding: 75px 30px;
}
/* @media screen and (max-width: 1550px) {
  .new-order-container {
    padding: 90px 30px;
  }
} */
