.product-card-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.product-card-container > .alpha-logo {
  margin-bottom: 0;
}
.product-card-container > h2 {
  margin-bottom: 50px;
}
.brand-container,
.model-container,
.model-year-container,
.mileage-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.dropdown {
  width: 80%;
}
.dropdown > label {
  font-family: "poppins";
}
.dropdown > p {
  font-family: "poppins";
  margin-left: 0;
}
