.summary-card-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  width: 400px;
  height: 555px;
  border: 1px solid #d0d0d0;
  border-radius: 12px;
}
.summary-card-container > h4 {
  height: 30px;
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 84.52%;
  letter-spacing: -0.02em;
  color: #737373;
}
.date-time-summary {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #737373;
}
.selected-services-container {
  display: flex;
  margin-top: 40px;
  width: 100%;
  height: 30%;
  border-bottom: 1px solid #c2c2c2;
}
.selected-services-container > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.selected-services-container > ul > li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #737373;
}
.total-amount-container {
  height: 45%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.total-amount-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #737373;
}
.submit-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.submit-button-container > button {
  height: 40px;
  width: 220px;
  padding: 0;
  border: none;
  font-family: "poppins";
  background: #836048;
  border-radius: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
