.summary-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}
.selected-services {
  display: flex;
}
.selected-services > ul {
  padding: 0;
}
.selected-services > ul > li {
  list-style: none;
}
.total-amount-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.controls {
  display: flex;
  justify-content: flex-end;
}
